<!DOCTYPE html>
<html>
  <head>
    <title>Snapper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.images = { 
        uploadImg: "<%=image_url('upload.png')%>",
        backArrow: "<%=image_url('back.png')%>",
        github: "<%=image_url('GitHub-light.png')%>",
        githubDark: "<%=image_url('GitHub-dark.png')%>",
        linkedin: "<%=image_url('linkedin.png')%>",
        angellist: "<%=image_url('angellist.png')%>"
      }
    </script>

    <meta property="og:title" content="Snapper" />
    <meta property='og:image' content="<%= image_url('snapper.jpg') %>"/>
    <meta property="og:description"
      content="Fullstack single page app inspired by flickr, a social image hosting website."
    />
    <meta property="og:url"
      content="https://snapper-app.herokuapp.com"
    />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
